<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Custom HTML5 Video Player</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
  
</head>
<body>
    <h2>Name is <%= movie %>  </h2>
  <video id="our-video" width="600" height="400" controls>
    <source src="/video<%= movie %>" type="video/mp4">
  </video>
  
</body>
</html>
